<ion-header>
  <ion-toolbar color="netflix-dark">
    <ion-title>
      <img class="logo-header" src="../../assets/netflix-logo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="tv"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text color="secondary">
    <h1 class="box-title">NetflixClone es un demo realizado con el framework Ionic.</h1>
  </ion-text>

</ion-content>