<ion-header>
  <ion-toolbar color="netflix-dark">
    <ion-title>Stranger Things</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img">
    <div class="ion-padding">

      <div class="img-header">
        <img src="../../assets/strangers-things.jpg">
      </div>

      <div class="tags">
        <p class="green">97% positivo</p>
        <p>2017</p>
        <p>TV - 14</p>
        <p>2 Temporadas</p>
      </div>

      <ion-button expand="block" color="netflix-red">
        <ion-icon slot="start" name="play"></ion-icon>
        Lectura
      </ion-button>

      <p class="description">When a young boy disappears, his mother, a police chief, and his friends must confront terrifying supernatural forces in order to get him back.</p>
      <p class="cast">
        Creators: Matt Duffer, Ross Duffer<br>
        Stars: Millie Bobby Brown, Finn Wolfhard, Winona Ryder | See full cast & crew </p>

      <ion-segment color="netflix-red">
        <ion-segment-button value="liste" checked>
          <ion-icon color="light" name="add"></ion-icon>
          <ion-label color="light">Lista</ion-label>
        </ion-segment-button>
        <ion-segment-button color="light" value="rate">
          <ion-icon color="light" name="thumbs-up"></ion-icon>
          <ion-label color="light">Notar</ion-label>
        </ion-segment-button>
        <ion-segment-button value="share">
          <ion-icon color="light" name="share-alt"></ion-icon>
          <ion-label color="light">Compartir</ion-label>
        </ion-segment-button>
        <ion-segment-button>
        </ion-segment-button>
      </ion-segment>

    </div>

    <h4 color="light">EPISODIOS</h4>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ep1.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
        Capítulo 1: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" slot="end" name="download"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ep2.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
        Capítulo 2: The Weirdo on Maple Street
      </ion-label>
      <ion-icon color="light" slot="end" name="download"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ep3.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
        Capítulo 3: Holly, Jolly
      </ion-label>
      <ion-icon color="light" slot="end" name="download"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ep4.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
        Capítulo 4: The Body
      </ion-label>
      <ion-icon color="light" slot="end" name="download"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ep5.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
        Capítulo 5: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" slot="end" name="download"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ep6.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
        Capítulo 6: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" slot="end" name="download"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ep7.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
        Capítulo 7: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" slot="end" name="download"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ep8.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
        Capítulo 8: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" slot="end" name="download"></ion-icon>
    </ion-item>
  </div>
</ion-content>
